{% extends 'base.html.twig' %}

{% block body %}
    <h2>Series List</h2>

    {% for serie in series %}
        <p>{{ serie.name }}</p>
    {% endfor %}
{% endblock %}

{% block title %}
    {{ parent() }} | List
{% endblock %}