<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Series !{% endblock %}</title>

    </head>
    <body>
    {% block body %} <h1>Body par défaut</h1> {% endblock %}
    </body>
</html>
